[Unit]
Description=CurrentCost logger and server
Wants=dev-currentcost.device
Requires=currentcost.socket
After=network.target dev-currentcost.device

[Service]
User=cc
Group=cc
ExecStart=/usr/sbin/currentcostd

[Install]
WantedBy=multi-user.target
Also=currentcost.socket
